In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_excel('final.xlsx')
df.head()

,DOI,electrode,Specific Capacitance (F/g),Cycles
0,10.1016/j.est.2023.108403,MnO2,288.50,5000
1,10.1016/j.est.2023.108316,ZnO,1001.50,1000
2,10.1016/j.materresbull.2023.112422,NiCeO2,603.00,1000
3,10.1016/j.est.2023.108146,Nb2O5,628.00,5000
4,10.1016/j.jcis.2023.06.003,MnO2,595.77,1000

In [35]:
df1 = df.groupby(['electrode'])['Specific Capacitance (F/g)'].mean().to_dict()
df1 = pd.DataFrame.from_dict(df1, orient='index')
df1.to_excel("sc.xlsx", engine ='openpyxl', index = True)
df1

                          0
1D-RuO2/C        671.000000
3D-MnO2          370.000000
60-MnO2          337.000000
Al2O3            968.000000
Bi2O3            574.640000
...                     ...
γ-Fe2O3 NH      1800.060000
γ-MnO2-PANI-CP   642.500000
δ-MnO2           419.266667
δ-MnO2 HMS       216.400000
ε-MnO2           334.500000

[182 rows x 1 columns]

In [31]:
df2 = df.groupby(['electrode'])['Cycles'].mean().to_dict()
df2 = pd.DataFrame.from_dict(df2, orient='index')
df2.to_excel("cycles.xlsx", engine ='openpyxl', index = True)

In [36]:
merged_df = pd.merge(df1, df2, left_index=True, right_index=True, how='inner')

In [38]:
merged_df
merged_df.to_excel("merged.xlsx", engine ='openpyxl', index = True)